﻿@model Mvc_Blog_Hao.Models.Blog

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h7>New Blog</h7>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label class="control-label" for="News">Tiêu đề:</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.News, new { htmlAttributes = new { @class = "form-control rounded mb-3" } })
                    @Html.ValidationMessageFor(model => model.News, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="ShortDescription">Mô tả ngắn:</label>
                <div class="col-md-12">
                    <textarea class="form-control rounded mb-3" id="ShortDescription" name="ShortDescription" rows="3"></textarea>
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Detail">Chi tiết:</label>
                <div class="col-md-12">
                    <textarea class="form-control rounded mb-3" id="Detail" name="Detail" rows="5"></textarea>
                    @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Picture">Hình ảnh:</label>
                <div class="col-md-3">
                    <input class="form-control-file mb-3" id="Picture" name="Picture" type="file" value="">
                    @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="Location">Vị trí:</label>
                <div class="col-md-12 mb-3">
                    @{
                        if (ViewBag.ListLocation != null)
                        {
                            foreach (var item in ViewBag.ListLocation)
                            {
                                <input class="form-check-input" type="checkbox" style="margin-right:10px" value="@item" id="Locations" name="Locations">
                                <label class="form-check-label">
                                    @item
                                </label>
                            }
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Status ">Public:</label>
                <div class="col-md-12">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="radio" value="1" name="Status" id="Status" checked>
                        <label class="form-check-label" for="Status">
                            Yes
                        </label>
                    </div>
                    <div class="form-check m-3">
                        <input class="form-check-input" type="radio" value="0" name="Status" id="Status">
                        <label class="form-check-label" for="Status">
                            No
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger " })
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label class="control-label" for="Type">Loại:</label>
                    <div class="col">
                        @{
                            if (ViewBag.ListStyle != null)
                            {
                                @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.ListStyle, new { @class = "form-control rounded mb-3" })
                            }
                        }
                    </div>
                </div>
                <div class="form-group col">
                    <label class="control-label" for="PublicDay">Date Pubblic</label>
                    <div class="col">
                        @Html.EditorFor(model => model.PublicDay, new { htmlAttributes = new { @class = "form-control rounded mb-3" } })
                        @Html.ValidationMessageFor(model => model.PublicDay, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>

    </div>
}
