﻿@model Mvc_Blog_Hao.Models.Blog
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Edit";
    List<String> location = JsonConvert.DeserializeObject<List<String>>(ViewBag.Models);

    bool check(string value)
    {
        bool flag = false;
        foreach (var country in location)
        {
            if (value.Equals(country)) flag = true;
        }
        return flag;
    }

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="card">
        <div class="card-header">
            <h7>Edit Blog</h7>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label" for="News">Tiêu đề:</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.News, new { htmlAttributes = new { @class = "form-control rounded mb-3" } })
                    @Html.ValidationMessageFor(model => model.News, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="ShortDescription">Mô tả ngắn:</label>
                <div class="col-md-12">
                    <textarea class="form-control rounded mb-3" id="ShortDescription" name="ShortDescription" rows="3">@Model.ShortDescription</textarea>
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Detail">Chi tiết:</label>
                <div class="col-md-12">
                    <textarea class="form-control rounded mb-3" id="Detail" name="Detail" rows="5">@Model.Detail</textarea>
                    @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Picture">Hình ảnh:</label>
                <div class="col-md-3">
                    <input class="form-control-file mb-3" id="Picture" name="Picture" type="file" />
                    @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="Location">Vị trí:</label>

                <div class="col-md-12 mb-3">
                    @foreach (var item in ViewBag.ListLocation)
                    {
                        if (check(item))
                        {
                            <input class="form-check-input" type="checkbox" style="margin-right:10px" value="@item" id="Locations" name="Locations" checked>
                            <label class="form-check-label">
                                @item
                            </label>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" style="margin-right:10px" value="@item" id="Locations" name="Locations">
                            <label class="form-check-label">
                                @item
                            </label>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Status ">Public:</label>
                <div class="col-md-12">
                    @{
                        if (Model.Status == 1)
                        {
                            <div class="form-check m-3">
                                <input class="form-check-input" type="radio" value="1" name="Status" id="Status" checked>
                                <label class="form-check-label" for="Status">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check m-3">
                                <input class="form-check-input" type="radio" value="0" name="Status" id="Status">
                                <label class="form-check-label" for="Status">
                                    No
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check m-3">
                                <input class="form-check-input" type="radio" value="1" name="Status" id="Status">
                                <label class="form-check-label" for="Status">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check m-3">
                                <input class="form-check-input" type="radio" value="0" name="Status" id="Status" checked>
                                <label class="form-check-label" for="Status">
                                    No
                                </label>
                            </div>
                        }
                    }



                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger " })
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label class="control-label" for="Type">Loại:</label>
                    <div class="col">
                        @{
                            if (ViewBag.ListStyle != null)
                            {
                                @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.ListStyle, new { @class = "form-control rounded mb-3" })
                            }
                        }
                    </div>
                </div>
                <div class="form-group col">
                    <label class="control-label" for="PublicDay">Date Pubblic</label>
                    <div class="col">
                        @Html.TextBoxFor(model => model.PublicDay, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control rounded mb-3" })

                    </div>
                </div>
            </div>


            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-primary" href="~/Home/Index">Clear</a>
            </div>
        </div>

    </div>
}
