﻿@model IEnumerable<Mvc_Blog_Hao.Models.Blog>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
}

<div class="card list-blog">
    <div class="card-header">
        <h4>List Blogs</h4>
    </div>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tin</th>
                <th scope="col">Loại</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Vị trí</th>
                <th scope="col">Ngày pubblic</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row"> @Html.DisplayFor(modelItem => item.Id)</th>
                    <td> @Html.DisplayFor(modelItem => item.News)</td>
                    <td> @Html.DisplayFor(modelItem => item.Type)</td>
                    @{
                        if (item.Status == 1)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        List<String> loacation = JsonConvert.DeserializeObject<List<String>>(item.Location);
                        if (loacation != null)
                        {
                            <td>@string.Join(", ", loacation)</td>
                        }
                        else
                        {
                            <td></td>
                        }

                    }

                    <td> @Html.DisplayFor(modelItem => item.PublicDay)</td>
                    <td><a class="btn btn-outline-primary" href="~/Home/Edit/@item.Id">Edit</a></td>
                    <td><a class="btn btn-outline-danger" onclick="Delete(@item.Id)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    var Delete = function (id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/DeleteConfirmed",
                        data: { id: id },
                        success: function () {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                            location.reload();
                        }

                    });

                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }
</script>