﻿body {
    height: 100%
}

.header {
    height: 60px;
    background-color: #201e1e
}

    .header div:nth-child(1) {
        height: 100%;
    }

    .header span {
        font-size: 25px;
        font-weight: 600;
    }

    .header img {
        height: 100%;
    }

.footer {
    height: 60px;
    background-color: #111827
}


.menu-items {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .menu-items li {
        list-style: none;
        width: 100px
    }

        .menu-items li a {
            display: flex;
            align-items: center;
            height: 50px;
            text-decoration: none;
        }

            .menu-items li a i {
                font-size: 24px;
                min-width: 45px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
            }

            .menu-items li a span {
                font-size: 18px;
                font-weight: 400;
                color: black;
            }

.page {
    padding-top:20px;
    background-color: #E4E5E6
}
.title{
    margin-right:100px
}
.search{
    margin-top:20px;
}
.list-blog {
    margin-top: 20px;
    margin-bottom:20px;
}
