﻿
<div class="row d-flex header">
    <div class="col-2 d-flex align-items-center justify-content-center">
        <img src="https://devfast.us/images/devfast-logo.png" alt="">
    </div>
    <div class="col text-white d-flex align-items-center justify-content-center">
        <span>Blogmanagement</span>
    </div>
</div>