﻿<!-- Slidebar -->
<div class="col-2">
    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a href="~/Home/Index"><i class="uil uil-list-ul"></i><span>List</span></a>
            </li>
            <li>
                <a href="~/Home/Create"><i class="uil uil-file-plus-alt"></i><span>New</span></a>
            </li>
            <li>
                <a href="~/Home/Search"><i class="uil uil-search"></i><span>Search</span></a>
            </li>
        </ul>
    </div>
</div>